<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field mt-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field mt-3">
    <%= f.label :password, "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation, "Repita su contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <% if can? :manage, User %>
  <div class="field mt-3">
    <%= f.label :admin, "Tipo de Usuario" %><br />
    <%= f.select :admin, [["Usuario", false], ["Administrador", true]],  select: false %>
  </div>
<% end %>

  <div class="actions mt-3">
    <%= f.submit "Crear cuenta" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
