<p style="color: green"><%= notice %></p>

<h1>Units</h1>

<% if can? :create, new_unit_path %>
<%= link_to "Nueva Unidad", new_unit_path %>
<% end %>
<div id="units">
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo Unidad</th>
      <th>Alícuota</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @units.each do |unit| %>
    <tr>
      <td><%= unit.name %></td>
      <td><%= unit.unit_type%></td>
      <td><%= unit.alicuota %></td>
      <td><%= link_to "Ver", unit %></td>
    </tr>
  <% end %>
  </tbody>
</table>
