<p style="color: green"><%= notice %></p>

<%= render @unit %>

<div>
  <%= link_to "Unidades", units_path %> | 
  <% if can? :update, @unit %>
    <%= link_to "Editar", edit_unit_path(@unit) %> |
  <% end %>

  <% if can? :destroy, @unit %>
    <%= button_to "Eliminar", @unit, method: :delete %>
  <% end %>

</div>
