<p style="color: green"><%= notice %></p>

<h1>Egresos</h1>
<%= render "search_form" %>
<%= link_to "Nuevo Egreso", new_expense_path %>
<div id="expenses">
  <table>
    <thead>
      <tr>
        <th>Año</th>
        <th>Mes</th>
        <th>Categoría</th>
        <th>Proveedor</th>
        <th>Tipo Documento</th>
        <th>Fecha Documento</th>
        <th>Monto ($)</th>
        <th>Descripción</th>
        <th>Forma de Pago</th>
        <th>N° Pago</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.year %></td>
        <td><%= expense.month %></td>
        <td><%= expense.category %></td>
        <td><%= expense.supplier %></td>
        <td><%= expense.document_type %></td>
        <td><%= expense.document_date %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <td><%= expense.payment_method %></td>
        <td><%= expense.payment_number %></td>
        <td><%= link_to "Ver", expense %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


