<p style="color: green"><%= notice %></p>

<%= render @expense %>

<div>
  <%= link_to "Back to expenses", expenses_path %>
  <% if can? :update, @expense %>
    <%= link_to "Edit this expense", edit_expense_path(@expense) %> |
  <% end %>

  <% if can? :destroy, @expense %>
    <%= button_to "Destroy this expense", @expense, method: :delete %>
  <% end %>
</div>
